:root {
	--background-dark: #0d0033;
	--text-light: hsl(255, 100%, 79%);
	--green-dark: #235525;
	--green-light: #5DD462;
	--blue-dark: #005077;
	--blue-light:#82C5E6;
	--cyan-dark:#004B8F;
	--cyan-light: #81C2FD;
	--purple-dark: #48447F;
	--purple-light: #B4B8F1;
	--orange-dark: #773B00;
	--orange-light: #D6B698;
	--red-dark: #7B362D;
	--red-light: #FEA599;
	--yellow-dark: #5E471A;
	--yellow-light: #E2B640;
	--gray-dark: #424C5A;
	--gray-light: #B5BDC8;

}

.just-grid {
	fill: rgba(10, 10, 10, 10);
    stroke: var(--purple-light);
}

/* Category color schemes */
.bg-black {
 background-color: black;
 fill:black;
 color: white;
 border-color: white;
 stroke:white;
}

.bg-green {
 color: var(--green-light);
 border-color: var(--green-light);
 stroke:var(--green-light);
 background-color: var(--green-dark);
 fill:var(--green-dark);
}

.bg-blue {
 color: var(--blue-light);
 border-color: var(--blue-light);
 stroke:var(--blue-light);
 background-color: var(--blue-dark);
 fill:var(--blue-dark);
}

.bg-ice {
	color: var(--cyan-light);
	background-color: var(--cyan-dark);
	fill:var(--cyan-dark);
	border-color: var(--cyan-light);
	stroke: var(--cyan-light);
	opacity: 0.25;
   }

.bg-cyan {
 color: var(--cyan-light);
 border-color: var(--cyan-light);
 stroke:var(--cyan-light);
 background-color: var(--cyan-dark);
 fill:var(--cyan-dark);
}

.bg-purple {
 color: var(--purple-light);
 border-color: var(--purple-light);
 stroke:var(--purple-light);
 background-color: var(--purple-dark);
 fill:var(--purple-dark);
}

.bg-orange {
 color: var(--orange-light);
 border-color: var(--orange-light);
 stroke:var(--orange-light);
 background-color: var(--orange-dark);
 fill:var(--orange-dark);
}

.bg-red {
 color: var(--red-light);
 border-color: var(--red-light);
 stroke:var(--red-light);
 background-color: var(--red-dark);
 fill:var(--red-dark);
}

.bg-yellow {
 color: var(--yellow-light);
 border-color: var(--yellow-light);
 stroke:var(--yellow-light);
 background-color: var(--yellow-dark);
 fill:var(--yellow-dark);
}

.bg-gray {
 color: var(--gray-light);
 border-color: var(--gray-light);
 stroke:var(--gray-light);
 background-color: var(--gray-dark);
 fill:var(--gray-dark);
}

h1 { color: white; }

body{
	background-color: var(--background-dark);
	color:var(--text-light);
}

/* All color transitions should be 1 second long. */
/* * {
	transition: background-color 1s ease;
} */
   

