.gameboard-canvas {
	border: 5px solid white;
}

.viewHeight100 {
	max-height: 100vh;
}

.hover-space {
	stroke-width: 10;
}

.hover-space:hover {
	stroke: white;
	stroke-width: 15px;
	fill: rgba(255,255,255,0.15);
}

.bg-black {
	color: gray	;
	border-color: gray;
	stroke:gray;
	background-color: black;
	fill:black;
}